:root {
    /*Color*/
    --color-white: #FFFFFF;
    --color-black: #130901;
    --color-blue: #2351C4;
    --color-red: #F30404;
    --color-dark-grey: #838284;
    --color-light-grey: #F0EEF0;

    /*Size*/
    --padding: 12px;
    --avatar-size: 36px;

    /*Font Size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

/*브라우저 자체에서 주는 버튼 속성 제거*/
button,
button:focus {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: var(--color-white);}

/*Header*/

header {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    background-color: var(--color-black);
    color: var(--color-white);
}

header .logo {
    font-size: var(--font-large);
}

header .logo i {
    color: var(--color-red);
}

header .icons .fa-search {
    margin-right: var(--padding);
}

/*Video Player*/

.player {
    text-align: center;
    background-color: var(--color-black);
    position: sticky;
    top: 0;
}

.player video {
    /*video반응형으로 만드는법*/
    width: 100%;
    height: 100%;
    /*최대로 커지지않도록*/
    max-width: 1000px;
}


/*Video Info metadata*/
/*효과를 주고자 하는 선택자명은 최대한 구체적으로*/

body > .info {
    padding: var(--padding);
}

.info .metadata .hashtags {
    display: flex;
    font-size: var(--font-small);
    color: var(--color-blue);
}

.info .metadata .hashtags li {
    margin-right: var(--padding);
}

.info .metadata .titleAndButton {
    display: flex;
}

.info .metadata .titleAndButton .title {
    /*css line clamp : 내용을 제한해줌*/
    font-size: var(--font-medium);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-right: var(--padding);
}

.info .metadata .titleAndButton .moreBtn {
    height: 100%;
}

.info .views {
    font-size: var(--font-small);
    color:var(--color-dark-grey);
}

/*Video Info action*/

.info .actions {
    display: flex;
    justify-content: space-around;
    padding: var(--padding) 0;
}

.info .actions button {
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
    color:var(--color-dark-grey);

}

.info .actions button i {
    /*margin: 0 auto를 이용한 가운데정렬*/
    margin: 0 auto;
    margin-bottom: calc(var(--padding)/2);
    font-size: 16px;
}

.info .actions button i.active {
    color: var(--color-blue);
}

/*Video info channel*/

.info .channel {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--color-light-grey);
    border-bottom: 1px solid var(--color-light-grey);
}

.info .channel .metadata {
    display: flex;
    align-items: center;
}

.info .channel .metadata img {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    background-color: var(--color-light-grey);
}

.info .channel .metadata .info {
    display: flex;
    flex-direction: column;
}

.info .channel .metadata .info .name {
    font-size: var(--font-medium);
}

.info .channel .metadata .info .subscribers {
    font-size: var(--font-small);
    color:var(--color-dark-grey);
}

.info .channel .subscribe {
    text-transform: uppercase;
    color:var(--color-red);
    font-size: var(--font-small);
}

/*upNext*/

.upNext {
    padding: 0 var(--padding);
}



/*upNext 바로 뒤에있는 title태그에만 only 효과지정할때*/
.upNext > .title {
    font-size: var(--font-medium);
    color: var(--color-dark-grey);
    margin-bottom: var(--padding);
}

.upNext .item {
    display: flex;
    margin-top: var(--padding);
}

.upNext .item .img{
flex: 1 1 35%;
    margin-right: var(--padding);
}

.upNext .item .img img {
    width: 100%;
    height: 100px;
    background: var(--color-light-grey);
}
.upNext .item .info{
flex: 1 1 60%;
}
.upNext .item .moreBtn{
flex: 1 1 5%;
}

.upNext .item .info {
    display: flex;
    flex-direction: column;
}

.upNext .item .info .name,
.upNext .item .info .views {
    font-size: var(--font-micro);
    color: var(--color-dark-grey);
}

.infoAndUpNext {
    display: flex;
    flex-direction: column;
    padding: var(--padding);
}


/*화면이 768px 이상일때*/
@media screen and (min-width: 768px) {
    .infoAndUpNext {
        flex-direction: row;
        padding: var(--padding);
    }
}